///////////////////////
///       変数     ///
///////////////////////
$sky: #06BEB6;
$navy: #283C86;
$smoke: #f8f8f8;


///////////////////////
///       mixin     ///
///////////////////////


@mixin pc {
    @media screen and (min-width: 960px){
        @content;
    }
}
@mixin tab {
    @media screen and (max-width: 959px){
        @content;
    }
}
@mixin sp {
    @media screen and (max-width: 600px){
        @content;
    }
} 

///////////////////////
///       共通     ///
///////////////////////


html {
    font-size: 62.5%;//10px
}

body {
    font-size: 12px;
    line-height: 1.67;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-style: italic;
    margin-bottom: 60px;
    @include sp {
        margin-bottom: 40px;
    }
    &--bold {
        font-weight: bold;
        margin-right: 0.5em;
    }
    &:before {
        display: inline-block;
        content: "";
        border-top: 1px solid;
        width: 2em;
        margin-right: 1.7rem;
    }
    &:after {
        @extend .title:before;
        margin-right: 0;// 打ち消し用
        margin-left: 1.7rem;
    }
}

.inner {
    width: 100% - 9.7% * 2;//9.7は両側の余白
    padding: 90px 0;
    margin: 0 auto;
    @include sp {
        padding: 50px 0;
        width: 90%;
    }
}